:root {

  font-size: 10px;

  /* Background */
  --background-color:#1e2124;
  --medium-background-color: #313338;
  --dark-background-color: #1e1e1e;

  /* Text */
  --primary-text-color: #ffffff;
  --secondary-text-color: #b9bbbe;

  /* Links */
  --link-color: #58a6ff;

  /* Buttons */
  --primary-button-color: #5865f2;
  --secondary-button-color: #2f3136;
  --highlight-button-color: #3fb950;
  --danger-button-color: #eb523c;
  --warning-button-color: #e5c07b;
  --info-button-color: #78dce8;

  /* Shadows */
  --shadow-color: rgba(0, 0, 0, 0.2);

  /* Dividers */
  --divider-color: #2f3136;

  /* Hover Colors */
  --primary-button-hover-color: #3a76ff;
  --secondary-button-hover-color: #383a3d;
  --highlight-button-hover-color: #4fad65;
  --danger-button-hover-color: #d94c3c;
  --warning-button-hover-color: #d4b166;
  --info-button-hover-color: #59c7e3;

  /* Fonts */
  --title-font: 'Helvetica Neue', Arial, sans-serif;
  --body-font: 'Arial', sans-serif;
}

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  background-color: var(--background-color);
  color: var(--primary-text-color);
  font-family: var(--body-font);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--title-font);
}

input[type="date"] {
  font-family: var(--body-font);
}

a {
  all: unset;
}

ul {
  list-style: none;
}

.button {
  background-color: var(--button-color);
  color: var(--text-color);
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}